/* Coding boot camp week 4 homework. Star Wars RPG game. */

body {
	background: url("../images/throne-room.jpg") no-repeat center fixed;
	font-family: Verdana, Geneva, sans-serif;
	color: #ffffff;
}

header {
	background-color: #000000;
	padding: 5px 30px;

}

h1 {
	font-weight: bold;
}

.container {
	margin-top: 10px;
	padding-top: 10px;
	background-color: #000000;
	opacity: 0.8;
}

#message_area, #attack_messages {
	min-height: 110px;
}

#character_area {
	min-height: 190px;
	padding-bottom: 20px;
}

.gameCharacter, .player, .defender {
	width: 130px;
	padding:5px;
	margin: 10px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	font-size: 0.75em;
}

.player {
	background-color: #00ff00;
}

.defender {
	background-color: #ff0000;
}

.headshot {
	width: 100px;
	padding: 5px;
	display: block;
	margin: auto;
}